.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: rgb(250, 250, 250);
    width: 72px;
}
.sidebar-link{
    background-color:white;
    color:gray;
    display: flex;
    height: 93px;
    align-items: center;
    justify-content:center;

}
.sidebar:hover{
    background-color: rgb(235, 235, 235);
}

.sidebar-link img{
    height:24px;
    
}
.sidebar-text{
    font-family: Roboto, Arial;
    font-size: 12px;
}