
.thumbnail {
    width: 100%;
}
.thumbnail2 {
    width: 100%;
}

                    

.preview1 {
    width: 300px;
    display: inline-block;
    margin-right: 20px;
}
.preview2 {
    width: 300px;
    display: inline-block;
    margin-right: 20px;
}
.title1 {
    margin: 0px;
    font-size: 14px;
    font-weight: 500;
                        line-height: 18px;

}
.title2 {
    margin: 0px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}


.profile1 {
    width: 36px;
    border-radius: 50%;
}
.profile2 {
    width: 36px;
    border-radius: 50%;
}


.auth1 {
    font-size: 12px;
    color: rgb(96, 96, 96);
    display: inline-block;
    margin-bottom: 1px;
    margin-top: 10px;
}
.auth2 {
    font-size: 12px;
    color: rgb(96, 96, 96);
    display: inline-block;
    margin-bottom: 1px;
    margin-top: 10px;

}

.info1 {
    font-size: 12px;
    color: rgb(96, 96, 96);
    
    margin-top: 3px;
}
.info2 {
    font-size: 12px;
    color: rgb(96, 96, 96);
                        
    margin-top: 3px;
}
.thumbnail-row {
    margin-bottom: 8px;
    position: relative;
}
.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}
.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;   
    row-gap: 40px;
}
@media (max-width: 750px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 1000px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.video-time1{
    font-family: Roboto, Arial;
    font-weight: 500;
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 2px;
    position:absolute;
    background-color: black;
    color: white;
    bottom: 8px;
    right: 5px;

}
                    